body {
  background-color: royalblue;
}
.gameBiodata {
  background-color: white;
}
.table.th.td.a {
  background-color: tomato;
  color: #4caf50;
}
th,
td {
  padding: 15px;
  text-align: left;
}
th {
  background-color: #4caf50;
  color: white;
}
