<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock paper</title>
    <link rel="stylesheet" href="/cssfile/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="game-section">
        <div class="header">
          <div class="link-arrow">
            <a href="/landing"><img src="./Chapter4asset/_.png" /></a>
          </div>

          <div class="logo">
            <img src="./Chapter4asset/logo 1.png" />
          </div>
          <div class="text-title">
            <h3>ROCK PAPER SCISSORS</h3>
          </div>
        </div>
        <div class="play-game">
          <div class="kotak">
            <div class="section-player">
              <p>PLAYER 1</p>
              <img
                id="rock"
                class="player-hand"
                src="./Chapter4asset/batu 1.png"
              />
              <img
                id="paper"
                class="player-hand"
                src="./Chapter4asset/kertas 1.png"
              />
              <img
                id="scissor"
                class="player-hand"
                src="./Chapter4asset/gunting 1.png"
              />
            </div>
            <div id="section-vs">
              <h3 class="text-hasil">VS</h3>
            </div>
            <div class="section-com">
              <p>Com</p>
              <img id="comrock" src="./Chapter4asset/batu 1.png" />
              <img id="compaper" src="./Chapter4asset/kertas 1.png" />
              <img id="comscissor" src="./Chapter4asset/gunting 1.png" />
            </div>
          </div>
          <div class="refresh" id="refres">
            <img src="./Chapter4asset/refresh 2.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./jsfile/game.js"></script>
</html>
