<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHALLANGE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
           background-color: black;
           background-size: cover;

        }
        .bg1 {
          background-image: url("./Chapter3asset/bg\ image\ 1.jpg");
           background-size: cover;
           height: 150vh;
           background-repeat: repeat;
           
        }
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 35px;
    color: white;
}
        .jumbo h1 {
            margin: 39px 0;
            font-size: 60px;
            line-height: 1.5;
        }
        .jumbo h6 {
          padding-top: 160px;
        }
        .intro {
            padding-top: 80px;
        }
        .first {
           background-color: blueviolet;
           margin: auto;
        }
        .play {
            color: white;
        }
        .experience {
            color: white;
        }

        .container-fluid {
            background-color: rgba(0,0,0,.2);
            height: 100px;
           display: grid;
            align-content: center;
        }     
      .karousel {
        background-image: url(./Chapter3asset/bg\ image\ 2.jpg);
        background-size: cover;
        background-repeat: repeat;
       height: 100vh;
       padding-right: 60px;
       padding-left: 100px;
       margin: 0;
      }
      .gambardua {
        width: 100px;
        height: 400px;
      }
      .gambarsatu {
        width: 100px;
        height: 400px;

      }
      .gambartiga {
        height: 400px;
        width: 100px;

      }
      .textkaro {
        padding-right: 20px;
      }
      .page3 {
        background-image: url("./Chapter3asset/bg\ image\ 3.png");
        background-size: cover;
        background-repeat: repeat;
        height: 100vh;
      }
     .traditional {
       padding-left: 260px;
       padding-top: 30px;
       font-size: 30px;
     }
     .childhood {
      padding-left: 260px;
     }
     .feature {
       font-size: 45px;
       padding-left: 240px;
     }
     .bulat {
       float: right;
     }
     .page4 {
      background-image: url("./Chapter3asset/bg\ image\ 4.png");
        background-size: cover;
        background-repeat: repeat;
        height: 100vh;
     }
     .requirement {
       font-size: 40px;
     }
     .systemrequirement {
       padding-left: 155px;
     }
     .computer {
       font-size: 20px;
     }
     .os {
font-size: 24px;
     }
     .window {
font-size: 16px;
     }
    
     .page5 {
      background-color: black;
        background-size: cover;
        background-repeat: repeat;
        height: 100vh;
     }
     .topscore {
       font-size: 40px;
       padding-top: 100px;
       padding-left: 100px;
     }
     .various {
      padding-left: 100px;
     }
     .btnseemore {
      margin-left: 100px
     }
    
    
     .testi1 {
       margin-left: 180px;
       background: rgba(255, 255, 255, 0.08);
     }
     .testi2 {
      background: rgba(255, 255, 255, 0.08);
     }
     .testi3 {
      margin-left: 180px;
      background: rgba(255, 255, 255, 0.08);
     }
     .page6 {
      background-color: black;
        background-size: cover;
        background-repeat: repeat;
        height: 100vh;
     }
     .newsletter {
       font-size: 80px;
     }
     .copyright {
       font-size: 14px;
       color: #FFFFFF;
       opacity: 0.5;
     }
     .privacy {
      font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;


      color: #FFFFFF;
     }
     .foot {
      background: #080A0B;
     }
  </style>
</head>
<body>
  <div class="bg1">
<nav>
    <div class="container-fluid page1">
        <div class="row">
          <div class="col text-center align-middle">
            <H5 class="font-weight-bold text-white">LOGO</H5>
          </div>
          <div class="col-6">
            <nav class="nav">
                <a class="nav-link active text-white" href="#">HOME</a>
                <a class="nav-link text-white" href="#">WORK</a>
                <a class="nav-link text-white" href="#">CONTACT</a>
                <a class="nav-link text-white" href="#">ABOUT ME</a>
              </nav>
          </div>
          <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item text-black">
                  <a class="nav-link text-white font-weight-bold" href="#">SIGN UP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white font-weight-bold" href="#">LOG IN</a>
                </li>
          </div>
        </div>
        </nav>
    <div class="jumbo text-center">
        <div class="intro">
            <h1 class="play">PLAY TRADITIONAL GAME</h1>
            <p class=" experience text-center">Experience new traditional game play</p>
            <div>
            <a href ="/game" class="bg-warning text-decoration-none">PLAY NOW</a>
            </div>
            <h6 class="text-white">THE STORY</h6>
            <img src="./Chapter3asset/scroll down(1).svg">
        </div>
      </div> 
  </div>
      <div class="container-fluid karousel mt-5">
        <div class="row">
          <div class="col-3 text-white textkaro">
            <p class="text-left">what's so special?</p>
            <h1 class="text-left">THE GAMES</h1>
          </div>
          <div class="col-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 gambarsatu" src="./Chapter3asset/dj-alok.webp" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 gambardua" src="./Chapter3asset/Hayato-Free-Fire-41057.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 gambartiga" src="./Chapter3asset/karakter-free-fire-6-640x360.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        </div>
        <div class="container-fluid page3">
          <div class="row kotak">
            <div class="col">
             
            </div>
            <div class="col progrescomponen">
              <p class="text-white text-center"> What's so Special?</p>
              <p class="text-white feature text-uppercase">features</p>
              <div>
                <ul class="text-warning">
                  <li>
                    <p class="text-warning traditional text-uppercase">TRADITIONAL GAMES</p>
                  </li>
                </ul>
               
                <p class="text-white childhood">if you miss your childhood we provde <br>many traditional games here</p>
                <p class="text-warning traditional text-uppercase">GAME SUIT</p>
                <p class="text-warning traditional text-uppercase">TBD</p>
              </div>  
              </div>
              </div>
              </div>
              <div class="container-fluid requirement page4">
                <div class="row">
                  <div class="col">
                    <p class="text-white systemrequirement text-uppercase">SYSTEM<br>REQUIREMENTS</p>
                    <table class="table table-bordered w-75 float-right">
                      
                      <tbody>
                        <tr>
                          
                          <td>
                            <p class="text-uppercase os text-warning">os:</p>
                            <p class="window text-white">windows 7 64-bit only <br>(No OSX support at this time)</p>
                          </td>
                          <td>
                            <p class="text-uppercase os text-warning">processor</p>
                            <p class="window text-white">Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</p>
                          </td>
                          
                        </tr>
                        <tr>
                          
                          <td>
                            <p class="text-uppercase os text-warning">memory</p>
                            <p class="window text-uppercase text-white">4 Gb ram</p>
                          </td>
                          <td>
                            <p class="text-uppercase os text-warning">storage</p>
                            <p class="window text-white">8 GB available space</p>
                          </td>
                          
                        </tr>
                        <tr>
                          
                          <td colspan="2">
                            <p class="text-uppercase os text-warning">Graphics</p>
                            <p class="window text-white">NVIDIA Geforce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (shader Model 5)</p>
                          </td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    <p class="text-white computer">Can My Computer Run this game?</p>
                  </div>
                </div>
                </div>
                <div class="container-fluid page5">
                  <div class="row h-25">
                    <div class="col topscoretext">
                      <p class="text-uppercase topscore text-white">top scores</p>
                            <p class="various text-white">this top score from various games provided<br>on this platform</p>
                            <button type="button" class=" btnseemore btn btn-warning">see more</button>
                    </div>
                    <div class="col">
                      <div class="border border-dark testi1 w-50"> 
                       <div class="w-50">
                        <div class="media">
                          <img class="rounded-circle" src="./Chapter3asset/image 8.jpg" class="align-self-start mr-3" alt="...">
                          
                           
              
                          <div class="media-body">
                            <p class="text-warning ml-3">Evan Lathi</p>
                            <p class="ml-3">PC Gamer</p>
                            
                           
                          </div>
                        </div>
                       </div>
                     <div class="text-white">
                       <p>"one of my gaming highlights of the year."</p>
                     </div>
                     <div>
                       <p class="text-dark">october 18, 2018</p>
                       </div>
                     </div>
                     <div class="border border-dark testi2 w-50 mt-4 ml-5"> 
                      <div class="w-50">
                       <div class="media">
                         <img class="rounded-circle" src="./Chapter3asset/photo.png" class="align-self-start mr-3" alt="...">
                         
                          
             
                         <div class="media-body">
                           <p class="text-warning ml-3">Jada Griffin </p>
                           <p class="ml-3">Nerdreactor</p>
                           
                          
                         </div>
                       </div>
                      </div>
                    <div class="text-white">
                      <p>“The next big thing in the world of streaming and survival games.”
                      </p>
                    </div>
                    <div>
                      <p class="text-dark">December 21, 2018</p>
                      </div>
                    </div>
                    <div class="border border-dark testi3 w-50 mt-4"> 
                      <div class="w-50">
                       <div class="media">
                         <img class="rounded-circle" src="./Chapter3asset/image(1).jpg" class="align-self-start mr-3" alt="...">
                         
                          
             
                         <div class="media-body">
                           <p class="text-warning ml-3">Aaron Williams </p>
                           <p class="ml-3">Uproxx</p>
                           
                          
                         </div>
                       </div>
                      </div>
                    <div class="text-white">
                      <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                    </div>
                    <div>
                      <p class="text-dark">December 24, 2018</p>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                  <div class="container-fluid page6">
                    <div class="row">
                      <div class="col">
                        <img class="float-right" src="/Chapter3asset/image .png">
                      </div>
                      <div class="col">
                        <p class="text-white">Want to stay in <br>touch?</p>
                       <p class="text-white newsletter text-uppercase">newsletter subscribe</p>
                       <p class="text-white">In order to start receiving our news, all you have to do is enter your email<br> address. Everything else will be taken care of by us. We will send you emails <br>containing information about game. We don’t spam.</p>
                       <form class="pt-5">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control bg-dark w-100" placeholder="your emai address youremail@binar.co.id">
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-warning">Subscribe now</button>
                          </div>
                        </div>
                      </form>
                      </div>
                      </div>
                    </div>
                    <footer class=" foot">
                      <div class="container-fuid">
                        <div class="row">
                          <div class="col d-flex text-white w-50 justify-content-around">
                            <a hre="#">main</a>
                            <a hre="#">about</a>
                            <a hre="#">game feature</a>
                            <a hre="#">system requirement</a>
                            <a hre="#">quote</a>                            
                          </div>
                          <div class="col">
                            <img src="./Chapter3asset/facebook.svg">
                            <img src="./Chapter3asset/twitter.svg">
                            <img src="./Chapter3asset/Vector.svg">
                            <img src="./Chapter3asset/twitch.svg">
                          </div>
                        </div>
                        <hr>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col">
                             <p class="copyright"> © 2018 Your Games, Inc. All Rights Reserved</p>
                            </div>
                            <div class="col">
                              <p class="privacy">Privacy Policy | Terms of Services | Code of Conduct </p>
                            </div>
                          </div>

                    </footer>
                    </div>
                    </div>
                    
    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</html>