body {
  margin: 0;
}

.game-section {
  background-color: #9c835f;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
}
/* header */
.header {
  height: 10%;
  width: 45%;
  display: flex;
  margin-left: 40px;
}
.link-arrow {
  width: 10%;

  margin-top: 25px;
}
.logo {
  width: 20%;
}
.logo img {
  margin-left: 30px;
  width: 30%;
  padding-top: 30px;
}
.text-title h3 {
  color: yellow;
  font-size: 30px;
}
/* end header */
/* game section */
.play-game {
  height: 89%;
}
.kotak {
  height: 10%;
  width: 70%;
  margin: auto;
  height: 85%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.section-player {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.selected {
  background: grey;
  border-radius: 30px;
  width: fit-content;
  padding: 10px;
}

.section-player img {
  width: 30%;
}
.section-player p {
  font-weight: bold;
}
/* section-win-loose-game */
#section-vs {
  height: 20%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 100px;
}
#section-vs h3 {
  color: red;
  font-size: 50px;
}
.player-win {
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  color: white;
  font-size: 12px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
/* section-end-win-loose-game */
.section-com {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.section-com p {
  font-weight: bold;
}
.section-com img {
  width: 30%;
}

/* end game section */
.refresh {
  width: 22%;
  height: 12%;
  margin: auto;
}
.refresh img {
  width: 20%;
  padding: auto;
  padding-left: 100px;
}
/* responsive */
@media only screen and (max-width: 425px) {
  .header {
    height: 10%;
    width: 80%;
    display: flex;
    margin-left: 40px;
  }
  .logo {
    width: 20%;
  }
  .logo img {
    margin-left: 30px;
    width: 40%;
    padding-top: 30px;
  }
  .text-title h3 {
    color: yellow;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;
  }
}
