<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail User</title>
  </head>
  <body>
    <table>
      <tr>
        <td><strong>ID</strong></td>
        <td><strong>:</strong></td>
        <td><%= game.id %></td>
      </tr>
      <tr>
        <td><strong>nickname</strong></td>
        <td><strong>:</strong></td>
        <td><%= game.nickname %></td>
      </tr>
      <tr>
        <td><strong>negara</strong></td>
        <td><strong>:</strong></td>
        <td><%= game.negara %></td>
      </tr>
      <tr>
        <td><strong>kota</strong></td>
        <td><strong>:</strong></td>
        <td><%= game.kota %></td>
      </tr>
      <tr>
        <td><strong>level</strong></td>
        <td><strong>:</strong></td>
        <td><%= game.level %></td>
      </tr>
    </table>
    <a href="/game/list">Kembali ke daftar User</a>
  </body>
</html>
