<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/challange_chapter6/public/cssfolder/biodata.css"
    />
    <title>User Game Biodata</title>
  </head>
  <body>
    <h1>Tambah</h1>
    <form method="POST" action="/game">
      <label for="nickname">nickname</label>
      <input
        type="text"
        name="nickname"
        id="nickname"
        placeholder="nama panggilan kamu"
      />
      <label for="negara">negara</label>
      <input
        type="text"
        name="negara"
        id="negara"
        placeholder="kewarganegaraan"
      />
      <label for="kota">kota</label>
      <input type="text" name="kota" id="kota" placeholder="kota kamu dimana" />
      <label for="level">level</label>
      <input
        type="text"
        name="level"
        id="level"
        placeholder="kewarganegaraan"
      />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
