<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/challange_chapter6/public/cssfolder/biodata.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>biodata user</h1>
    <table border="1" class="table">
      <tr>
        <th>ID</th>
        <th>nickname</th>
        <th>negara</th>
        <th>kota</th>
        <th>level</th>
        <th>name</th>
        <th>Aksi</th>
      </tr>
      <% game.forEach(game => { %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.nickname %></td>
        <td><%= game.negara %></td>
        <td><%= game.kota %></td>
        <td><%= game.level %></td>
        <% if (game.user_game) { %>
        <td><%= game.user_game.username %></td>
        <% } else { %>
        <td>-</td>
        <% } %>
        <td>
          <a href="/biodata/detail/<%= game.id %>" class="detail">Lihat</a>
          <a href="/biodata/update/<%= game.id %>">update</a>
          <a href="/biodata/delete/<%= game.id %>">Hapus</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <a href="/game/create">Add user Game</a>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
