<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ubah Biodata</h1>
    <form method="POST" action="/game/update">
      <input type="hidden" name="id" value="<%= game.id %>" />
      <label for="nickname">nickname</label>
      <input
        type="text"
        name="nickname"
        id="nickname"
        placeholder="nickname baru"
        value="<%= game.name %>"
      />
      <label for="negara">negara</label>
      <input
        type="text"
        name="negara"
        id="negara"
        placeholder="negara"
        value="<%= game.negara %>"
      />
      <label for="kota">kota</label>
      <input
        type="text"
        name="kota"
        id="kota"
        placeholder="kota"
        value="<%= game.kota %>"
      />
      <label for="level">level</label>
      <input
        type="text"
        name="level"
        id="level"
        placeholder="level"
        value="<%= game.level %>"
      />
      <button type="submit">Ubah</button>
    </form>
  </body>
</html>
