.bg {
  background-color: red;
  width: 100%;
  height: 100vh;
  background-size: 100%;
}
.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 0px #000;
}
