<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>:</strong></td>
          <td><%= user_game.id %></td>
        </tr>
        <tr>
          <td><strong>username</strong></td>
          <td><strong>:</strong></td>
          <td><%= user_game.username %></td>
        </tr>
        <tr>
          <td><strong>password</strong></td>
          <td><strong>:</strong></td>
          <td><%= user_game.password %></td>
        </tr>
      </table>
      <a href="/user_game/listUserGame">Kembali ke daftar User</a>
    </body>
</body>
</html>