<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/challange_chapter6/public/formuser.css"
    <title>Document</title>
  </head>
  <body>
    <h1>Tambah</h1>
    <form method="POST" action="/user_game">
      <label for="username">username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="email or username"
      />
      <br />
      <label for="password">pasword</label>
      <input
        type="password"
        name="password"
        id="pasword"
        placeholder="your password"
      />
      <br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
