<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>data username</h1>
    <table border="1" class="table">
      <tr>
        <th>ID</th>
        <th>username</th>
        <th>password</th>
        <th>Aksi</th>
      </tr>
      <% user_game.forEach(user_game => { %>
      <tr>
        <td><%= user_game.id %></td>
        <td><%= user_game.username %></td>
        <td><%= user_game.password %></td>
        <td>
          <a href="/user_game/detailUserGame/<%= user_game.id %>" class="detail"
            >Lihat</a
          >
          <a href="/user_game/updateUserGame/<%= user_game.id %>">update</a>
          <a href="/user_game/deleteUserGame/<%= user_game.id %>">Hapus</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <a href="/user_game/create">Add username</a>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
