<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ubah Biodata</h1>
    <form method="POST" action="/user_game/updateUserGame">
      <input type="hidden" name="id" value="<%= user_game.id %>" />
      <label for="username">username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="username"
        value="<%= user_game.username %>"
      />
      <label for="password">password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        value="<%= user_game.password %>"
      />
      <button type="submit">Ubah</button>
    </form>
  </body>
</html>
