<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>:</strong></td>
          <td><%= user_game_history.id %></td>
        </tr>
        <tr>
          <td><strong>hero</strong></td>
          <td><strong>:</strong></td>
          <td><%= user_game_history.hero %></td>
        </tr>
        <tr>
          <td><strong>arena</strong></td>
          <td><strong>:</strong></td>
          <td><%= user_game_history.arena %></td>
        </tr>
        <tr>
            <td><strong>score</strong></td>
            <td><strong>:</strong></td>
            <td><%= user_game_history.score %></td>
          </tr>
          <tr>
            <td><strong>result</strong></td>
            <td><strong>:</strong></td>
            <td><%= user_game_history.result %></td>
          </tr>
          <tr>
            <td><strong>achievement</strong></td>
            <td><strong>:</strong></td>
            <td><%= user_game_history.achievement %></td>
          </tr>
      </table>
      <a href="/user_game/listUserGame">Kembali ke daftar User</a>
    </body>
</body>
</html>