<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tambah</h1>
    <form method="POST" action="/user_game_history">
      <label for="">hero</label>
      <input type="text" name="hero" id="hero" placeholder="your hero" />
      <label for="arena">arena</label>
      <input type="text" name="arena" id="arena" placeholder="arena" />
      <label for="score">score</label>
      <input type="text" name="score" id="score" placeholder="score" />
      <label for="result">result</label>
      <input type="text" name="result" id="result" placeholder="result" />
      <label for="achievement">achievement</label>
      <input
        type="text"
        name="achievement"
        id="achievement"
        placeholder="achievement"
      />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
