<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>history game</h1>
    <table border="1" class="table">
      <tr>
        <th>ID</th>
        <th>hero</th>
        <th>arena</th>
        <th>score</th>
        <th>result</th>
        <th>achievement</th>
        <th>Aksi</th>
      </tr>
      <% user_game_history.forEach(user_game_history => { %>
      <tr>
        <td><%= user_game_history.id %></td>
        <td><%= user_game_history.hero %></td>
        <td><%= user_game_history.arena %></td>
        <td><%= user_game_history.score %></td>
        <td><%= user_game_history.result %></td>
        <td><%= user_game_history.achievement %></td>
        <td>
          <a
            href="/user_game_history/detailhistory/<%= user_game_history.id %>"
            class="detail"
            >Lihat</a
          >
          <a href="/user_game_history/updatehistory/<%= user_game_history.id %>"
            >update</a
          >
          <a href="/user_game_history/deletehistory/<%= user_game_history.id %>"
            >Hapus</a
          >
        </td>
      </tr>
      <% }) %>
    </table>
    <a href="/user_game_history/create">Add history</a>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
