<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ubah Biodata</h1>
    <form method="POST" action="/user_game_history/updatehistory">
      <input type="hidden" name="id" value="<%= user_game_history.id %>" />
      <label for="hero">hero</label>
      <input
        type="text"
        name="hero"
        id="hero"
        placeholder="hero"
        value="<%= user_game_history.hero %>"
      />
      <label for="arena">arena</label>
      <input
        type="text"
        name="arena"
        id="arena"
        placeholder="arena"
        value="<%= user_game_history.arena %>"
      />
      <label for="score">score</label>
      <input
        type="text"
        name="score"
        id="score"
        placeholder="score"
        value="<%= user_game_history.score %>"
      />
      <label for="result">result</label>
      <input
        type="text"
        name="result"
        id="result"
        placeholder="result"
        value="<%= user_game_history.result %>"
      />
      <label for="achievement">achievement</label>
      <input
        type="text"
        name="achievement"
        id="achievement"
        placeholder="achievement"
        value="<%= user_game_history.achievement %>"
      />
      <button type="submit">Ubah</button>
    </form>
  </body>
</html>
